body{ padding-top:30px;
    background:#3B5998;
  }
.form-control { margin-bottom: 18px; }
.form-design{
  border:1px solid #3B5998;
  background:white;
  border-radius:3%;
  z-index:1;
  box-shadow: 2px 2px 2px 2px;
 }
.set_form{

	margin-left:32%;
	width:100%;
	}
